 
  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h1 class="">Quién Soy?</h1>
    <img src="./assets/imagenes/QuienSoySplash.png" class="img-responsive img-circle " style="display:inline" alt="Bird" width="350" height="350">
    <h3>Juan Ignacio Murcia</h3>
    <h4>Alumno de la Univercidad UTN FRA</h4>
    <img src="./assets/imagenes/UTNFRA.png" class="img-responsive img-rectangle " style="display:inline" alt="Bird" width="350" height="350">    
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="">Este es mi Trabajo Practico para la  materia laboratorio 4</h3>
    <p>El Tp trataba de realizar una sala de juegos con varios juegos distintos y agregar uno propio por el alumno</p>
    <h3 class="">Juego Propio: Tic Tac Toe</h3><br>
    <img src="./assets/imagenes/TicTacToe.png" class="img-responsive img-rectangle margin" style="display:inline" alt="Bird" width="350" height="350">    
    <h4>Como se juega?</h4>
    <div class="row">
      <div> 
        <p class="p-center">Cada jugador solo debe colocar su símbolo (X o O) una vez por turno y no debe ser sobre una casilla ya jugada. Se debe conseguir realizar una línea recta o diagonal por símbolo</p>
      </div>
    </div>
  </div>
  