<div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/Adivina.jpg" alt="Avatar" style="width:100%">
      <h1>Adivina El Numero</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      <p><button mat-raised-button color="warn"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/Agilidad.jpg" alt="Avatar" style="width:100%">
      <h1>Agilidad Aritmetica</h1>
      <p class="title">Juego de Calculos Matematicos</p>
      <p>UTN FRA </p>
      <p><button mat-raised-button color="warn"  (click)="Juego('Agilidad')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/Anagrama.jpg" alt="Avatar" style="width:100%">
      <h1>Anagrama</h1>
      <p class="title">Juego Mental</p>
      <p>UTN FRA </p>
      <p><button mat-raised-button color="warn"  (click)="Juego('Anagrama')">Jugar</button></p>
    </div>
    <div class="card">
        <img class="img-thumbnail" src="./assets/imagenes/PiedraPapelTijera.jpg" alt="Avatar" style="width:100%">
        <h1>Piedra Papel o Tijera</h1>
        <p class="title">Juega contra la máquina</p>
        <p>UTN FRA </p> 
        <p><button mat-raised-button color="warn"  (click)="Juego('PiedraPapelTijera')">Jugar</button></p>
      </div>
      <div class="card">
        <img  class="img-thumbnail"  src="./assets/imagenes/TicTacToe.png" alt="Avatar" style="width:100%">
        <h1>Tic Tac Toe</h1>
        <p class="title">Juego de estrategia</p>
        <p>UTN FRA </p> 
        <p><button mat-raised-button color="warn" (click)="Juego('TicTacToe')">Jugar</button></p>
      </div>
  </div>